@font-face {
    font-family: 'Inter Alia';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/InterAlia-Regular.woff?v=0.001") format("woff");
}
@font-face {
    font-family: 'Inter Alia';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/InterAlia-Italic.woff?v=0.001") format("woff");
}
@font-face {
    font-family: 'Inter Alia';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/InterAlia-Bold.woff?v=0.001") format("woff");
}
@font-face {
    font-family: 'Inter Alia';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/InterAlia-BoldItalic.woff?v=0.001") format("woff");
}
@font-face {
    font-family: 'Fairfax HD';
    src: url('/fonts/FairfaxHD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--nc-font-sans: 'Inter Alia';
    --nc-font-mono: 'Fairfax HD';
    --nc-ac-1: #9BDEB0;
}

.github-corner {
    fill: var(--nc-tx-1);
    color: var(--nc-bg-1);
}

table {
    word-break: keep-all;
}

#title-text {
    max-height: 170px;
    margin-top:20px;
    margin-bottom: 0px;
}

#definition {
    display: none;
    max-width: 70%;
    max-height: 30%;
    overflow-y: auto;
    padding: 20px;
    color: var(--nc-bg-1);
    background-color: var(--nc-tx-1);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#definition p {
    color: var(--nc-bg-1);
    font-size: 1em;
}

#definition h4 {
    color: var(--nc-bg-1);
}

summary {
    cursor: pointer;
    font-weight: 400;
}

code {
    font-size: 1.2em;
}

pre code {
    font-size: 1.2em;
}